body {
	font-family: "Ubuntu", sans-serif;
	color: rgba(0, 0, 0, 0.8);
}

input[type=text] {
	font-family: inherit;
	margin: 0.8rem 0;
	font-size: 1.1rem;
	border-radius: 8px;
	padding: 10px 8px;
	border-style: solid;
	border-width: 2px;
    border-color: transparent;
    transition: all 0.2s;
}

input:hover {
    background-color: #F5F5F5;
}

input:focus {
	border-color: #4254b3b0;
}

h1 {
	text-align: center;
}
.todo-wrapper {
	display: flex;
	align-items: center;
	box-shadow: 1px 1px 9px rgb(0 0 0 / 28%);
	border-radius: 10px;
	gap: 10px;
	padding: 0 24px;
	color: rgba(0, 0, 0, 0.7);
}

.todo-wrapper input[type=text] {
    flex-grow: 1;
}

.btn-delete {
    background: transparent;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s;
}

.todo-wrapper:hover .btn-delete {
    opacity: 1;
}

.btn-delete svg {
    width: 18px;
    fill: #c04d4d;
}
.list-wrapper {
	max-width: 500px;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.btn-add {
    position: fixed;
    right: calc(50% - 40px);
    bottom: 10%;
    background: #4254B3;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    color: #ffffff;
    font-size: 20px;
    border: none;
    box-shadow: 0px 5px 8px rgb(0 0 0 / 57%);
    cursor: pointer;
}

.empty {
    text-align: center;
}